.oswald{

    font-family: "Oswald", sans-serif;
    font-size: 48px;
    color: #FFFFFF;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

footer {

    bottom: 0;
    width: 100%;
  }


.secTitle{
  background-color: #B55E5E;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #FFFFFF;

}

.buttonEdit{
  background-color: #3879B5;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  font-size: 30px;

}

.buttonDeleted{
  background-color: #3879B5;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  font-size: 30px;

}

.buttonEditOld{
  background-color: #3879B5;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: 2%;
  display: flex;
  color: #FFFFFF;
  font-size: 30px;

}

.buttonsNotes{

  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;

}

.preDivNotes{

  justify-content: center;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.noteBody{

  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  display: flex;


}

.preNotes {

  background-color: #F1DD8C;
  display: flex;
  border: 1px solid #020000;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-all;

}
